icon {
    border-radius: 50%;
    background-color: $scaffold-gray;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(/* todo */);

    &.loaded {

    }

    &.orange {
        background-color: $scaffold-orange;
    }
}

.icon, icon {
    height: 75px;
    width: 75px;
    display: block;
    margin: 5px;

    &.small {
        height: 45px;
        width: 45px;
    }

    &.large {
        height: 100px;
        width: 100px;
    }

    &[notifications]:not([notifications=""]):after {
        content: attr(notifications);
        display: block;
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: $scaffold-orange;
        color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 150%;
        font-size: 150%;
        bottom: 0px;
        right: 0px;
    }
}
