map, .map, map-view, map-view ng-transclude {
    width: 100%;
    height: 150px;
    display: block;
}

map-view {
    .map {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: .7;
        filter: blur(1px);
    }

    ng-transclude {
        display: flex;
        flex-direction: column;
    }
}
