$font-stack: Roboto, Helvetica, sans-serif;
$scaffold-orange: #F7911E;
$scaffold-blue: #009AB0;
$scaffold-gray: #808080;

@import "partials/_list-item.scss";
@import "partials/_sidebar.scss";
@import "partials/_login.scss";

body {
	font-family: $font-stack;
}

#main {
	md-toolbar {
		height: 100px;
		h1 {
			color: white;
			margin: auto;
			margin-bottom: 20%;
		}
	}
}

/* Show/Hide mobile toolbar */
@media screen and (min-width: 0px) and (max-width: 600px) {
  #mobile-toolbar { 
  	display: inherit;
  	width: 100%;
  	padding: 10px;
  	img{
		height: 100px;
		width: 50%;
		padding-top: 10px;
  	}
  }
  .page-title{
  	display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 3000px) {
  #mobile-toolbar { 
  	display: none; 
  }
  .page-title {
  	display: inline-block;
  }
}
