$font-stack: Roboto, Helvetica, sans-serif;
$scaffold-orange: #F7911E;
$scaffold-blue: #009AB0;
$scaffold-gray: #808080;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
}

body {
	font-family: $font-stack;
	text-rendering: optimize-legibility;
}

.md-button[type ~= submit] {
	flex: 2;
}

md-list {
	display: inline-block;
	padding: 25px;
}

button {
	color: white !important;
}

@import "partials/list-item";
@import "partials/sidebar";
@import "partials/info";
@import "partials/icon";
@import "partials/image-upload";
@import "partials/user-details";
