$font-stack: Roboto, Helvetica, sans-serif;
$scaffold-orange: #F7911E;
$scaffold-blue: #009AB0;
$scaffold-gray: #808080;

@import "partials/_list-item.scss";
@import "partials/_sidebar.scss";


body {
	font-family: $font-stack;
}

#main {
	md-toolbar {
		height: 100px;
		h1 {
			color: white;
			margin: auto;
			margin-bottom: 20%;
		}
	}
	md-content > div{
		padding-top: 5%;
	}
}