<md-content class="info" id="terms">

    <h2>What is Scaffold?</h2>
    <p>
        Scaffold is an online communication platform that connects people seeking
        to work with people looking to hire through a quick, direct, and dependable
        process.
    </p>
    <p>
        Using a dependable review system and a managed messaging features, Scaffold
        minimizes potential abuse and provides a space for local micro-economies to
        fourish.
    </p>

    <h2>So why don't I just use Craigslist?</h2>
    <p>
        Do you want to get axe murdered? Because that's how you get axe murdered..
    </p>
    <p>
        Unlike most of our competitors, we understand that that a temporary
        job is much more than just a simple transaction. We believe that
        every party has a right to know what they are getting into beforehand,
        and make an informed decision about whether they accept a job or not.
    </p>
    <p>
        Be steering clear of anonymous posts, allowing a two way system
        that is easily accessible, and allowing parties to communicate
        before reaching a working agreement; we make sure that both job posters
        and seekers feel comfortable.
    </p>

    <h2>How does this, "managed chat" system work?</h2>
    <p>
        We understand that clear communication before a transaction is important
        to all parties. But we also understand that most people don't want to put
        there private details on the internet for all the world to see. Which is why
        we've built in our own personal chat system.
    </p>
    <p>
        We also seek to minimize the potential for harassment or unwanted messages,
        which is why you can only communicate with a user who you have an open
        application with. That means, as an employer, you can communicate with
        any applicants as soon as they apply and immediately cease communication
        by rejecting their application. Likewise as a worker, you're able to send
        messages to job posters the second you apply and withdraw from communcation
        at any time.
    </p>


</md-content>
