<div class="chat" flex layout="column" style="min-height: calc(100vh - 64px);">
    <md-content layout="column" layout-align="end" flex>
        <md-list>
            <md-list-item ng-repeat="group in messages track by $index" ng-class="{you: group[0].user === profile._id, them: group[0].user !== profile._id}">

                <a class="chat-icon" href="/user/{{group[0].user}}">
                    <icon class="small" src="pics[group[0].user]"></icon>
                </a>
                <div class="message-container">
                    <p ng-repeat="message in group track by $index">{{message.message}}</p>
                </div>
            </md-list-item>
        </md-list>

        <md-input-container>
            <label error="{{errors.message}}">Message</label>
            <textarea ng-model="message" on-enter="onSubmit()"></textarea>
        </md-input-container>
    </md-content>
</div>
