<md-content class="info">
    <form ng-submit="save()">

        <image-upload ng-model="user.picture"></image-upload>

        <md-input-container>
            <label>First Name</label>
            <input ng-model="user.firstName" />
        </md-input-container>

        <md-input-container>
            <label>Last Name</label>
            <input ng-model="user.lastName" />
        </md-input-container>

        <md-input-container>
            <label>Phone</label>
            <input ng-model="user.phone" />
        </md-input-container>

        <md-input-container>
            <label>Birthday</label>
            <input ng-model="user.birthdate" type="datetime" />
        </md-input-container>

        <md-radio-group ng-model="user.gender">
            <label>Gender</label>
            <md-radio-button value="male">Male</md-radio-button>
            <md-radio-button value="female">Female</md-radio-button>
            <md-radio-button value="other">Other</md-radio-button>
        </md-radio-group>
    </form>
</md-content>

<md-content layout="column" class="buttons">
    <md-button flex ng-click="save()" class="md-accent md-raised">Save</md-button>
    <md-button flex ng-click="cancel()">Cancel</md-button>
</md-content>
