<md-content class="info">
    <form ng-submit="save()">

        <image-upload ng-model="user.picture"></image-upload>

        <md-input-container>
            <label error="{{errors.firstName}}">First Name</label>
            <input ng-model="user.firstName" />
        </md-input-container>

        <md-input-container>
            <label error="{{errors.lastName}}">Last Name</label>
            <input ng-model="user.lastName" />
        </md-input-container>

        <md-input-container>
            <label error="{{errors.bio}}">Bio</label>
            <textarea ng-model="user.bio"></textarea>
        </md-input-container>

        <br />

        <div ng-if="user.role === 'employer'">
            <md-input-container>
                <label error="{{errors.employer.url}}">URL</label>
                <input ng-model="user.employer.url" />
            </md-input-container>
        </div>

        <div ng-if="user.role === 'worker'">
            <label>Skills</label>
            <skill-chips editable="true" user="user"></skill-chips>
        </div>
    </form>
</md-content>

<md-content layout="column" class="buttons">
    <md-button flex ng-click="save()" class="md-accent md-raised">Save</md-button>
    <md-button flex ng-click="cancel()">Cancel</md-button>
</md-content>
