<md-content class="info">
    <form ng-submit="save()">
        <md-input-container>
            <label>Title</label>
            <input ng-model="job.title" />
        </md-input-container>

        <md-input-container>
            <label>Location</label>
            <location-input location="job.location"></location-input>
        </md-input-container>

        <loading class="row" loading="job.location.$loading" error="job.location.$errored">
            <map options="mapOptions"></map>
        </loading>

        <div layout="row" flex>
            <md-input-container flex>
                <label>Start Date</label>
                <input ng-model="start.date" date-picker />
            </md-input-container>

            <md-input-container flex>
                <label>Start Time</label>
                <input ng-model="start.time" time-picker />
            </md-input-container>
        </div>

        <div layout="row" flex>
            <md-input-container flex>
                <label>End Date</label>
                <input ng-model="end.date" date-picker />
            </md-input-container>

            <md-input-container flex>
                <label>End Time</label>
                <input ng-model="end.time" time-picker />
            </md-input-container>
        </div>

        <div layout="row" flex>
            <md-input-container flex>
                <label>Workers</label>
                <input ng-model="job.needed" />
            </md-input-container>

            <md-input-container flex>
                <label>Rate</label>
                <input ng-model="job.rate" />
            </md-input-container>
        </div>
        <md-input-container>
            <label>Description</label>
            <textarea ng-model="job.description"></textarea>
        </md-input-container>

        <md-input-container>
            <label>Equipment Required</label>
            <textarea ng-model="job.equipmentRequired"></textarea>
        </md-input-container>

        <md-input-container>
            <label>Perks</label>
            <textarea ng-model="job.perks"></textarea>
        </md-input-container>
    </form>
</md-content>

<md-content layout="column" class="buttons">
    <md-button flex class="md-accent md-raised" ng-click="save()">Post</md-button>
</md-content>
