<md-content class="info">

    <form ng-submit="save()">
        <md-input-container>
            <label>Title</label>
            <input ng-model="job.title" />
        </md-input-container>

        <md-input-container>
            <label>Location</label>
            <location-input location="job.location"></location-input>
        </md-input-container>

        <div layout="row">
            <md-input-container>
                <label>Start</label>
                <input ng-model="job.start" />
            </md-input-container>

            <md-input-container>
                <label>End</label>
                <input ng-model="job.end" />
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container>
                <label>Needs</label>
                <input ng-model="job.needed" />
            </md-input-container>

            <md-input-container>
                <label>Rate</label>
                <input ng-model="job.rate" />
            </md-input-container>
        </div>
        <md-input-container>
            <label>Description</label>
            <textarea ng-model="job.description"></textarea>
        </md-input-container>

        <md-input-container>
            <label>Equipment Required</label>
            <textarea ng-model="job.equipmentRequired"></textarea>
        </md-input-container>

        <md-input-container>
            <label>Perks</label>
            <textarea ng-model="job.perks"></textarea>
        </md-input-container>

        <div class="buttons">
            <md-button class="md-accent md-raised" type="submit">Post</md-button>
        </div>
    </form>
</md-content>
