<md-content class="info">
    <user-details class="detail item" user="user"></user-details>
    <job-details class="detail item" job="job"></job-details>
    <form ng-submit="submit()">
        <md-input-container>
            <label error="{{errors.comment}}">Comment</label>
            <textarea ng-model="review.comment"></textarea>
        </md-input-container>

        <div class="detail item long">
            <label error="{{errors.a}}">A</label>
            <md-slider ng-model="review.a" step="1" md-discrete min="1" max="5"></md-slider>
        </div>

        <div class="detail item long">
            <label error="{{errors.b}}">B</label>
            <md-slider ng-model="review.b" step="1" md-discrete min="1" max="5"></md-slider>
        </div>

        <div class="detail item long">
            <label error="{{errors.c}}">C</label>
            <md-slider ng-model="review.c" step="1" md-discrete min="1" max="5"></md-slider>
        </div>
    </form>
</md-content>

<md-content layout="column" class="buttons">
    <md-button flex ng-click="cancel()">cancel</md-button>
    <md-button flex class="md-accent md-raised" type="submit">review</md-button>
</md-content>
