<md-content class="info">
    <user-details class="detail item" user="user"></user-details>
    <form ng-submit="submit()">
        <md-input-container>
            <label>Comment</label>
            <input ng-model="review.comment" />
        </md-input-container>

        <div class="detail item long">
            <label>A</label>
            <md-slider ng-model="review.a" step="1" md-discrete min="0" max="5"></md-slider>
        </div>

        <div class="detail item long">
            <label>B</label>
            <md-slider ng-model="review.b" step="1" md-discrete min="0" max="5"></md-slider>
        </div>

        <div class="detail item long">
            <label>C</label>
            <md-slider ng-model="review.c" step="1" md-discrete min="0" max="5"></md-slider>
        </div>

        <div class="buttons">
            <md-button ng-click="cancel()">cancel</md-button>
            <md-button class="md-accent md-raised" type="submit">review</md-button>
        </div>
    </form>
</md-content>
