<md-content>
	<md-toolbar>
    	<h1 class="page-title">Open Jobs</h1>
    	<!-- probably should be a directive -->
        <div layout="row" layout-align="space-between center" id="mobile-toolbar">
            <a href="">Menu</a>
            <img src="/static/image/header-logo.png">
            <a href="/search">Jobs</a>
        </div>
    </md-toolbar>
	<div layout="column">
	    <md-list>
	        <list-item ng-repeat="job in jobs">
	        	<h2><a ng-href="/job/{{job._id}}">{{job.title}}</a></h2>
				<p>
			        <span>Date:</span> {{job.start}} to {{job.end}}
			    </p>
			    <p>
			        <span>Location:</span> {{job.location}}
			    </p>
			    <p>
			        <span>Rate:</span> {{job.rate}}
			    </p>
	        </list-item>
	    </md-list>
	</div>
</md-content>
