<md-content class="info">
    <user-details user="user"></user-details>
    <div class="detail item long">
        <label>Bio</label>
        <span>{{user.$isWorker() ? user.worker.bio : user.employer.bio}}</span>
    </div>

    <h3>Reviews</h3>
    <div class="detail item" ng-repeat="review in reviews.comments">
        {{review}}
    </div>
</md-content>

<md-content layout="row" class="buttons" ng-if="user.$owned()">
    <md-button class="md-accent md-raised" flex href="/user/{{user._id}}/edit">Edit</md-button>
</md-content>
