<md-content class="view-chats">
    <div class="list">

        <!-- case: loading -->
        <div class="list-info" ng-if="!chats.$resolved">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <!-- case: errored-->
        <div class="list-info" ng-if="chats.$resolved && errored">
            <h3>Error</h3>
        </div>

        <!-- case: empty -->
        <div class="list-info" ng-if="chats.$resolved && !errored && !chats.length">
            <h3>Empty</h3>
        </div>

        <!-- case: chats! -->
        <a ng-if="chats.$resolved && !errored"
            ng-repeat="chat in chats"
            ng-href="/messages/{{chat._id}}"
            class="chat list-item">

            <div class="list-item-content" layout="row" flex>
                <div class="chat-content" flex layout="column">
                    <h3>{{notUser(chat).firstName}}</h3>
                    <p>about <b>{{chat.job.title}}</b></p>
                    <p>on <b date="chat.job.start" format="MMM DD, YYYY"></b></p>
                    <br />
                    <p>{{chat.mostRecent.message}}</p>
                </div>
                <icon src="notUser(chat).picture" notifications="{{chat.unread + 1 ? chat.unread : ''}}"></icon>
            </div>
            <md-divider></md-divider>
        </a>
    </md-list>
</md-content>
