<md-content>
    <h1>View Application</h1>
    <pre>
{{app|json}}
    </pre>

    <md-button href="/user/{{app.applicant}}">View User</md-button>
    <md-button ng-click="accept()">Accept</md-button>
    <md-button ng-click="reject()">Reject</md-button>
    <md-button ng-click="cancel()">Cancel</md-button>

    <md-button ng-if="profile._id === app.applicant"
        ng-href="/user/{{app.owner}}/review/{{app.job}}" >
        Review Poster
    </md-button>

    <md-button ng-if="profile._id === app.owner"
        ng-href="/user/{{app.applicant}}/review/{{app.job}}" >
        Review Applicant
    </md-button>
</md-content>
