<md-content class="info">

    <h1 class="item">{{job.title}}</h1>

    <user-details class="item detail" user="job.poster"></user-details>

    <div class="detail item">
        <label>Rate</label>
        <span>{{job.rate}}</span>
    </div>

    <div class="detail item">
        <label>Date</label>
        <span>
            <span date="job.start"></span> --
            <span date="job.end"></span>
        </span>
    </div>

    <div class="detail long item">
        <label>Location</label>
        <span>{{job.location.name}}</span>
        <map options="mapOptions"></map>
    </div>

    <div ng-if="job.description" class="detail long item">
        <label>Description</label>
        <span>{{job.description}}</span>
    </div>

    <div ng-if="job.required" class="detail long item">
        <label>Equipment Required</label>
        <span>{{job.required}}</span>
    </div>

    <div ng-if="job.perks" class="detail long item">
        <label>Perks</label>
        <span>{{job.perks}}</span>
    </div>
</md-content>

<md-content layout="row" class="buttons">
    <md-button flex class="md-accent md-raised" ng-if="job.$owned()" href="/job/{{job._id}}/edit">Edit</md-button>
    <md-button flex class="md-accent md-raised" ng-if="profile.$isWorker()" href="/job/{{job._id}}/apply">Apply</md-button>
</md-content>
