<md-content>

    <job-details job="job"></job-details>

    <md-tabs>
        <md-tab label="accepted">
            <md-list>
                <!-- case: empty -->
                <md-list-item ng-if="!applications.accepted.length" layout="row" layout-align="center center">
                    No applications..
                </md-list-item>

                <!-- case: -->
                <app-item ng-repeat="app in applications.accepted" app="app">
                    <h2>{{app.applicant.firstName}} {{app.applicant.lastName}}</h2>
                    <p>{{app.blurb}}</p>
                </app-item>
            </md-list>
        </md-tab>
        <md-tab label="pending">
            <md-list>
                <!-- case: empty -->
                <md-list-item ng-if="!applications.pending.length" layout="row" layout-align="center center">
                    No applications..
                </md-list-item>

                <!-- case: -->
                <app-item ng-repeat="app in applications.pending" app="app">
                    <h2>{{app.applicant.firstName}} {{app.applicant.lastName}}</h2>
                    <p>{{app.blurb}}</p>
                </app-item>
            </md-list>
        </md-tab>
        <md-tab label="waiting">
            <md-list>
                <!-- case: empty -->
                <md-list-item ng-if="!applications.waiting.length" layout="row" layout-align="center center">
                    No applications..
                </md-list-item>

                <!-- case: -->
                <app-item ng-repeat="app in applications.waiting" app="app">
                    <h2>{{app.applicant.firstName}} {{app.applicant.lastName}}</h2>
                    <p>{{app.blurb}}</p>
                </app-item>
            </md-list>
        </md-tab>
    </md-tabs>
</md-content>
