<md-content class="info">
    <user-details user="user"></user-details>
    <div class="detail item long">
        <label>Bio</label>
        <span>{{user.$isWorker() ? user.worker.bio : user.employer.bio}}</span>
    </div>

    <div class="list">
        <div class="list-info" ng-if="!reviews.comments.length">
            <h3>No Reviews Yet</h3>
        </div>

        <div class="list-item" ng-if="reviews.comments.length">
            <div class="list-item-content" layout="row" layout-align="center center">
                <h3>Reviews</h3>
            </div>
        </div>

        <a class="list-item" ng-repeat="review in reviews.comments">
            <div class="list-item-content">
                {{review}}
            </div>
            <md-divider></md-divider>
        </a>
    </div>
</md-content>

<md-content layout="row" class="buttons" ng-if="user.$owned()">
    <md-button class="md-accent md-raised" flex href="/user/{{user._id}}/edit">Edit</md-button>
</md-content>
