<md-content class="info">

    <h1 class="item">{{job.title}}</h1>

    <user-details class="item" user="job.poster"></user-details>

    <div class="detail item">
        <label>Rate</label>
        <span>{{job.rate}}</span>
    </div>

    <div class="detail item">
        <label>Date</label>
        <span>{{job.start}}</span>
    </div>

    <div class="detail item">
        <label>Location</label>
        <span>{{job.location|json}}</span>
    </div>

    <md-button href="/job/{{job._id}}/edit">Edit</md-button>
    <md-button href="/job/{{job._id}}/apply">Apply</md-button>
    <md-button href="/user/{{job.poster}}">View User</md-button>
<md-content>
