<md-content layout="column" class="info" flex>

    <job-details job="job"></job-details>

    <section label="accepted">
        <h2>Accepted Applications</h2>
        <md-divider></md-divider>
        <div class="list">
            <!-- case: empty -->
            <div class="list-info" ng-if="!applications.accepted.length" layout="row" layout-align="center center">
                No applications..
            </div>

            <!-- case: -->
            <app-item ng-repeat="app in applications.accepted" app="app">
                <h2>{{app.applicant.firstName}} {{app.applicant.lastName}}</h2>
                <p>{{app.blurb}}</p>
            </app-item>
        </div>
    </section>
    <section label="pending">
        <h2>Pending Applications</h2>
        <md-divider></md-divider>
        <div class="list">
            <!-- case: empty -->
            <div class="list-info" ng-if="!applications.pending.length" layout="row" layout-align="center center">
                No applications..
            </div>

            <!-- case: -->
            <app-item ng-repeat="app in applications.pending" app="app">
                <h2>{{app.applicant.firstName}} {{app.applicant.lastName}}</h2>
                <p>{{app.blurb}}</p>
            </app-item>
        </div>
    </section>
    <section label="waiting">
        <h2>Waiting Confirmation</h2>
        <md-divider></md-divider>
        <div class="list">
            <!-- case: empty -->
            <div class="list-info" ng-if="!applications.waiting.length" layout="row" layout-align="center center">
                No applications..
            </div>

            <!-- case: -->
            <app-item ng-repeat="app in applications.waiting" app="app">
                <h2>{{app.applicant.firstName}} {{app.applicant.lastName}}</h2>
                <p>{{app.blurb}}</p>
            </app-item>
        </div>
    </section>
</md-content>
