<md-content class="info">

    <user-details user="user"></user-details>

    <div class="list">

        <!-- case: loading -->
        <div class="list-info" ng-if="loading" layout="row" layout-align="center center">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <!-- case: errored-->
        <div class="list-info" ng-if="!loading && errored">
            <h3>Error</h3>
        </div>

        <!-- case: empty -->
        <div class="list-info" ng-if="!loading && !errored && !jobs.length">
            <h3>No Jobs Yet</h3>
        </div>

        <a class="list-item" ng-repeat="job in jobs" ng-href="/job/{{job._id}}">

            <md-divider></md-divider>
            <div class="list-item-content" layout="row">
                <div flex>
                    <h2>{{job.title}}</h2>
                    <p date="job.start" format="MMM DD, YYYY"></p>
                    <p>${{job.rate}}</p>
                </div>
                <icon></icon>
            </div>
        </a>
    </div>
</md-content>
