<!DOCTYPE html>
<html ng-app='scaffold'>
	<head>
		<link href="/static/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
		<base href="/" />
	</head>
	<div ng-view>

	</div>

	<body>

		<script type="text/javascript" src="/static/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/static/lib/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="/static/lib/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="/static/lib/angular-material/angular-material.js"></script>
		<script type="text/javascript" src="/static/lib/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="/static/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/static/lib/moment/moment.js"></script>

		<script type="text/javascript" src="/static/script/app.js"></script>
		<script type="text/javascript" src="/static/script/routes/search.js"></script>
	</body>
</html>