<!DOCTYPE html>
<html>
    <head>
        <title>scaffold</title>
    </head>
    <body>
        <%- content %>
    </body>
    <script src="/static/lib/react/react.min.js"></script>
    <script src="/static/lib/react-router/dist/react-router.min.js"></script>
    <script src="/static/lib/reflux/dist/reflux.min.js"></script>
    <script src="/static/script/app.js"></script>
</html>
