#index {

    #bg {
        background-image: url(../image/out.png);
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 0px;
        padding-top: 50%;

        h3 {
            position: absolute;
            color: white;
            font-size: 2rem;
            bottom: 5%;
            left: 5%;
        }
    }

}
