md-sidenav {
	width: 250px;

	md-toolbar .md-button {
		background-image: url(../image/header-logo.png);
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		flex: 1;
	}
	md-content {
		margin-top: 15px;

		.md-button {
			display: block;
		}

		md-divider {
			margin-top: 15px;
		}
	}
}
