#terms {

    color: $scaffold-gray;
    padding: 20px;

    h1 {
        color: $scaffold-orange;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    h2 {
        color: $scaffold-orange;
        font-size: 1.3rem;
        margin-top: 1.5rem;
    }

    p {
        margin-top: .4rem;
    }

    li {
        list-style: circle;
        margin-left: 25px;
    }

}
