<md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
    md-component-id="nav"
    class="md-sidenav-left md-whiteframe-z2"
    style="height: 100vh;" >

    <md-toolbar>
        <md-button href="/"></md-button>
    </md-toolbar>

    <md-content>
        <md-button ng-if="profile.$loggedIn" href="/user/me">profile</md-button>
        <md-button ng-if="profile.$loggedIn" href="/messages">messages</md-button>
        <md-button ng-if="profile.$loggedIn" href="/notifications">notifications</md-button>
        <md-divider></md-divider>

        <md-button href="/search">Browse Jobs</md-button>
        <md-button ng-if="profile.$isEmployer()" href="/job">Create Job</md-button>
        <md-button ng-if="profile.$isEmployer()" href="/user/me/jobs">Your Jobs</md-button>
        <md-button ng-if="profile.$isWorker()" href="/user/me/jobs">Your Experience</md-button>
        <md-divider></md-divider>

        <md-button ng-if="profile.$loggedIn" href="/auth/logout" target="_self">logout</md-button>
    </md-content>
</md-sidenav>
