<div class="image-upload" layout="column">
    <loading loading="loading">
        <div class="image-upload-image" flex layout="column" layout-align="center center">
            <div class="image-upload-drop-zone"></div>
            <md-progress-circular ng-if="loading"
                md-mode="indeterminate" ></md-progress-circular>
        </div>
    </loading>
    <label style="text-align: center;" error="{{error}}"></label>
    <div class="image-upload-options" flex layout="row" layout-align="center center">
        <input type="file" style="display: none;" />
        <md-button ng-click="upload()" class="md-raised md-primary">
            Change Picture
        </md-button>
    </div>
</div>
