<div class="list" flex layout="column">

    <!-- case: loading -->
    <div class="list-info" ng-if="!loaded" layout="column" flex layout-align="start center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- case: errored -->
    <div class="list-info" ng-if="errored && loaded" layout="column" flex layout-align="start center">
        <h3>There was an error.<h3>
        <h4>Please try again.</h4>
    </div>

    <!-- case: empty -->
    <div class="list-info" ng-if="!jobs.length && loaded && !errored" ng-transclude layout="column" flex layout-align="start center">

    </div>

    <!-- case: jobs loaded -->
    <a style="padding: 15px;" ng-repeat="job in jobs"
        class="job-item"
        ng-href="{{makeUrl(job)}}">

        <div class="list-item-content" layout="row" layout-align="center center">
            <div flex>
                <h2>{{job.title}}</h2>
                <p date="job.start" format="MMM DD, YYYY"></p>
            </div>
            <div class="number">

            </div>
        </div>
        <md-divider></md-divider>
    </a>

</div>
