<a ng-href="/user/{{user._id}}" class="user-details">

    <!-- case: error -->
    <div ng-if="errored" layout="row" layout-align="center center">

    </div>

    <!-- case: loading -->
    <div ng-if="!loaded" layout="row" layout-align="center center">
        <md-progress-circular></md-progress-circular>
    </div>

    <!-- case: loaded -->
    <div ng-if="loaded && !errored" layout="row">
        <icon src="user.picture"></icon>
        <div layout="column" flex>
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <div layout="row" flex layout-align="end center">
                <md-icon ng-if="stars < 1" class="star" md-font-icon="icon_star_outline"></md-icon>
                <md-icon ng-if="stars >= 1" class="star" md-font-icon="icon_star"></md-icon>

                <md-icon ng-if="stars < 2" class="star" md-font-icon="icon_star_outline"></md-icon>
                <md-icon ng-if="stars >= 2" class="star" md-font-icon="icon_star"></md-icon>

                <md-icon ng-if="stars < 3" class="star" md-font-icon="icon_star_outline"></md-icon>
                <md-icon ng-if="stars >= 3" class="star" md-font-icon="icon_star"></md-icon>

                <md-icon ng-if="stars < 4" class="star" md-font-icon="icon_star_outline"></md-icon>
                <md-icon ng-if="stars >= 4" class="star" md-font-icon="icon_star"></md-icon>

                <md-icon ng-if="stars < 5" class="star" md-font-icon="icon_star_outline"></md-icon>
                <md-icon ng-if="stars >= 5" class="star" md-font-icon="icon_star"></md-icon>
            </div>
        </div>
    </div>

</a>
