.info {

    padding: 30px;

    h1 {
        text-align: center;
        display: block;
        margin: 4px;
    }

    .detail {
        padding: 15px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.long, &.long label {
            display: block;
        }

        label {
            color: $scaffold-orange;
            &:after {
                content: ":";
            }
        }

        span {
            color: black;
        }
    }

    .item {
        border-bottom: 1px solid rgb(220,220,220);
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px;

        .md-button {
            padding: 5px 10px;
        }
    }

    md-input-container {
        padding-bottom: 0px;
        border-bottom: 1px solid rgb(220,220,220);

        label {
            color: $scaffold-orange !important;
        }
    }

}
