.job-list {

    .job-item > a {
        text-decoration: none;
        color: inherit;
        padding: 20px 30px;
    }

    .temp {
        opacity: .7;
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .number {
        width: 60px;
        height: 60px;
        background-color: rgb(50,50,50);
        border-radius: 50%;
    }
}
