.list-item {
	margin-bottom: 20px;

	.list-item-icon icon {
		top: -15px;
	}

	.list-item-content {
		padding: 10px;
		flex: 1;

		h2 {
			margin: 0px;
		}

		a {
			color: $scaffold-blue;
			text-decoration: none;
		}

		p {
			color: $scaffold-gray;
			margin: 0px;
			span {
				font-weight: bold;
				color: black;
			}
		}
	}

	&:first-child {
		margin-top: 20px;
	}
}
